#grillaProyectos {
    display: grid;
    grid-template-areas:
      "titulo titulo titulo"
      "fotografias pinturas videos"
      "fotografias pinturas videos"
      "pie pie pie";
    grid-template-rows: 1fr 3fr 4.37px 2fr;
    grid-template-columns: 30% 30% auto;
    grid-column-gap: 1.16rem;
    grid-row-gap: 2.25rem;
  }

  .titulosSecciones {
    grid-area: titulo;
  }
  footer {
    grid-area: pie;
  }
  section#fotografias {
    grid-area: fotografias;
  }
  section#pinturas {
    grid-area: pinturas;
  }
  section#videos {
    grid-area: videos;
  }
  
  /*propiedades grids en seccion nosotros*/
  
  #grillaNosotros {
    display: grid;
    grid-template-areas:
      "titulo titulo titulo"
      "rgc mat edg"
      "pie pie pie";
    grid-template-rows: 2fr 10rem 2fr;
    grid-template-columns: 30% 30% auto;
    grid-column-gap: 10px;
    grid-row-gap: 4rem;
  }
  
  .titulosSecciones {
    grid-area: titulo;
  }
  footer {
    grid-area: pie;
  }
  section#rgc {
    grid-area: rgc;
  }
  section#mat {
    grid-area: mat;
  }
  section#edg {
    grid-area: edg;
  }