@media screen and (max-width: 576px) {
  /* propiedades Css para mobile first */
  .mainTitle {
    font-size: 5rem;
  }

  .manifesto {
    font-size: .4rem;
  }

  .nav li a {
    font-size: 12pt;
    display: block;
    float: none;
    width: 100%;
  }

  footer {
    font-size: 9pt;
  }

  #grillaNosotros {
    display: grid;
    grid-template-areas:
      "titulo"
      "rgc"
      "mat"
      "edg";
    grid-template-rows: 2fr;
    grid-template-columns: 70%;
    grid-column-gap: 10px;
    grid-row-gap: 8rem;
    margin-left: 20px;
  }

  #grillaProyectos {
    display: grid;
    grid-template-areas:
      "titulo"
      "fotografias"
      "pinturas"
      "videos"
      "pie";
    grid-template-rows: 2fr;
    grid-template-columns: 70%;
    grid-column-gap: 10px;
    grid-row-gap: 8rem;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  /* propiedades Css para tablet */

  .mainTitle {
    font-size: 6rem;
  }

  .manifesto {
    font-size: 2rem;
  }

  .nav li a {
    font-size: 16pt;
  }

  footer {
    font-size: 12pt;
  }
}

@media screen and (max-width: 992px) {
  /* propiedades Css para escritorio */

  .mainTitle {
    font-size: 7rem;
  }

  .manifesto {
    font-size: 1.5rem;
  }

  .nav li a {
    font-size: 18pt;
  }

  footer {
    font-size: 18px;
  }
}